In [199]:
import pandas as pd

In [200]:
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_vegobjekter.csv", sep=";", low_memory=False)
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_veglenkesekvenslengde.csv",sep=";", low_memory=False)
df = pd.read_csv("Fallvilt_trdlag_2016-2026_adttotallengder.csv",sep=";", low_memory=False)

In [201]:
df.columns

Index(['Dato', 'År', 'Kommune', 'Stedfesting', 'Art', 'Kjønn', 'Alder',
       'Årsak', 'Utfall', 'Merkelappnummer', 'Fallvilt-ID', 'UTM33 øst',
       'UTM33 nord', 'vegsystemreferanse.kortform', 'vegkategori', 'fase',
       'vegnr', 'strekning', 'delstrekning', 'arm', 'adskilte_løp',
       'trafikantgruppe', 'retning', 'meter', 'veglenkesekvensid',
       'relativPosisjon', 'veglenkesekvens.kortform', 'geometri.wkt',
       'geometri.srid', 'kommune (treff)', 'avstand_vegnettet_m',
       'Vegobjekt_540_id', 'ÅDT, total', 'Vegobjekt_105_id', 'Fartsgrense',
       'Vegobjekt_540_lengde'],
      dtype='object')

In [202]:
df.head(5)

,Dato,År,Kommune,Stedfesting,Art,Kjønn,Alder,Årsak,Utfall,Merkelappnummer,...,veglenkesekvens.kortform,geometri.wkt,geometri.srid,kommune (treff),avstand_vegnettet_m,Vegobjekt_540_id,"ÅDT, total",Vegobjekt_105_id,Fartsgrense,Vegobjekt_540_lengde
0,27.01.2026,2026,5037 Levanger,"Laberget, skogn",Rådyr,Hunn,Kalv/årsunge,Påkjørt av motorkjøretøy,Dødt på stedet,,...,0.83128778@578274,POINT Z (309581.64 7069731.848 3.96),5973.0,5037.0,4.534,1.024046e+09,1100.0,86973882.0,80.0,5812.133
1,27.01.2026,2026,5057 Ørland,"Kottengsvatnet, Bjugn",Hjort,Ukjent,Ungdyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.45389004@72389,POINT Z (240694.793 7082920.732 35.115),5973.0,5057.0,8.335,1.024046e+09,1440.0,85311522.0,80.0,5634.106
2,27.01.2026,2026,5053 Inderøy,Brasethåmmeren.,Rådyr,Ukjent,Ukjent,Påkjørt av motorkjøretøy,Ettersøk avsluttet - ikke funnet,,...,0.13887967@578652,POINT Z (306524.134 7084925.6 18.701),5973.0,5053.0,3.375,1.024046e+09,550.0,86973645.0,80.0,3892.233
3,27.01.2026,2026,5049 Flatanger,Sandmoen,Hjort,Ukjent,Kalv/årsunge,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.01117073@578370,POINT Z (311387.19 7165789.753 16.258),5973.0,5049.0,0.943,1.024046e+09,273.0,86973722.0,80.0,24711.850
4,27.01.2026,2026,5049 Flatanger,Sandmo&#x2019;n,Hjort,Hunn,Voksent dyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.03644095@578370,POINT Z (311293.281 7165926.186 19.808),5973.0,5049.0,4.747,1.024046e+09,273.0,86973722.0,80.0,24711.850

In [203]:
df=df[df['År']==2025]
df = df[df['Art'].isin(['Elg', 'Hjort', 'Rådyr'])]

In [204]:
df["vegstrekning_kort"] = (
    df["vegsystemreferanse.kortform"]
    .str.split()
    .str[:2]
    .str.join("_")
)

In [205]:
df=df.dropna()

In [206]:
df=df[['Vegobjekt_540_id', 'Art', "ÅDT, total", "Vegobjekt_540_lengde"]]

In [207]:
df.sort_values('Vegobjekt_540_id', ascending=False)

      Vegobjekt_540_id    Art  ÅDT, total  Vegobjekt_540_lengde
1056      1.024538e+09  Hjort       450.0              4299.128
1347      1.024538e+09  Rådyr      2000.0              4155.208
906       1.024538e+09  Rådyr      2000.0              4155.208
948       1.024538e+09  Rådyr      2000.0              4155.208
919       1.024538e+09  Hjort      4000.0              3307.629
...                ...    ...         ...                   ...
454       1.013120e+09    Elg       100.0               998.113
2853      1.013120e+09    Elg       100.0               404.000
2280      1.013120e+09  Rådyr       100.0               131.173
1699      1.013120e+09    Elg        50.0               500.000
1436      1.013120e+09  Rådyr        30.0               230.000

[2131 rows x 4 columns]

In [208]:
df["antall_kollisjoner"] = (
    df
    .groupby(["Vegobjekt_540_id", "Art"])
    .transform("size")
)

In [209]:
df

,Vegobjekt_540_id,Art,"ÅDT, total",Vegobjekt_540_lengde,antall_kollisjoner
241,1.024047e+09,Rådyr,640.0,3192.223,2
242,1.022806e+09,Elg,5630.0,9450.411,1
243,1.024047e+09,Rådyr,700.0,17818.619,5
244,1.024046e+09,Elg,100.0,14652.687,3
245,1.013751e+09,Elg,90.0,4153.251,1
...,...,...,...,...,...
2941,1.024046e+09,Elg,1700.0,3122.634,2
2942,1.024046e+09,Elg,1740.0,9706.196,3
2943,1.024047e+09,Elg,800.0,12995.376,2
2944,1.024046e+09,Elg,1600.0,11320.552,6
2945,1.024045e+09,Elg,1210.0,2278.729,1

In [210]:
df["frekvens"] = (
    df["antall_kollisjoner"] / (round(df["ÅDT, total"],0)+round(df["Vegobjekt_540_lengde"],0))
)

In [211]:
df=df.sort_values('frekvens', ascending=False)

In [212]:
df=df.drop_duplicates()

In [213]:
df

,Vegobjekt_540_id,Art,"ÅDT, total",Vegobjekt_540_lengde,antall_kollisjoner,frekvens
905,1.016287e+09,Rådyr,100.0,179.324,3,0.010753
856,1.013844e+09,Rådyr,70.0,30.472,1,0.010000
1196,1.013408e+09,Hjort,50.0,60.000,1,0.009091
2407,1.013838e+09,Rådyr,30.0,79.949,1,0.009091
2249,1.013407e+09,Rådyr,80.0,33.061,1,0.008850
...,...,...,...,...,...,...
1677,1.022806e+09,Hjort,2130.0,32999.319,1,0.000028
1437,1.024046e+09,Elg,550.0,35965.031,1,0.000027
1783,1.022805e+09,Rådyr,37000.0,435.510,1,0.000027
1483,1.024046e+09,Hjort,260.0,59862.737,1,0.000017
1616,1.024046e+09,Elg,260.0,59862.737,1,0.000017

In [218]:
df.to_csv("frekvens.csv",encoding='utf-8', index=False)