In [13]:
import pandas as pd

In [55]:
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_vegobjekter.csv", sep=";", low_memory=False)
df = pd.read_csv("Fallvilt_trdlag_2016-2026_veglenkesekvenslengde.csv",sep=";", low_memory=False)

In [56]:
df.columns

Index(['Dato', 'År', 'Kommune', 'Stedfesting', 'Art', 'Kjønn', 'Alder',
       'Årsak', 'Utfall', 'Merkelappnummer', 'Fallvilt-ID', 'UTM33 øst',
       'UTM33 nord', 'vegsystemreferanse.kortform', 'vegkategori', 'fase',
       'vegnr', 'strekning', 'delstrekning', 'arm', 'adskilte_løp',
       'trafikantgruppe', 'retning', 'meter', 'veglenkesekvensid',
       'relativPosisjon', 'veglenkesekvens.kortform', 'geometri.wkt',
       'geometri.srid', 'kommune (treff)', 'avstand_vegnettet_m', 'ÅDT, total',
       'Fartsgrense', 'Veglenkesekvenslengde'],
      dtype='object')

In [57]:
df.head(5)

,Dato,År,Kommune,Stedfesting,Art,Kjønn,Alder,Årsak,Utfall,Merkelappnummer,...,veglenkesekvensid,relativPosisjon,veglenkesekvens.kortform,geometri.wkt,geometri.srid,kommune (treff),avstand_vegnettet_m,"ÅDT, total",Fartsgrense,Veglenkesekvenslengde
0,27.01.2026,2026,5037 Levanger,"Laberget, skogn",Rådyr,Hunn,Kalv/årsunge,Påkjørt av motorkjøretøy,Dødt på stedet,,...,578274.0,0.831288,0.83128778@578274,POINT Z (309581.64 7069731.848 3.96),5973.0,5037.0,4.534,1100.0,80.0,9770.867
1,27.01.2026,2026,5057 Ørland,"Kottengsvatnet, Bjugn",Hjort,Ukjent,Ungdyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,72389.0,0.453890,0.45389004@72389,POINT Z (240694.793 7082920.732 35.115),5973.0,5057.0,8.335,1440.0,80.0,9649.096
2,27.01.2026,2026,5053 Inderøy,Brasethåmmeren.,Rådyr,Ukjent,Ukjent,Påkjørt av motorkjøretøy,Ettersøk avsluttet - ikke funnet,,...,578652.0,0.138880,0.13887967@578652,POINT Z (306524.134 7084925.6 18.701),5973.0,5053.0,3.375,550.0,80.0,9734.797
3,27.01.2026,2026,5049 Flatanger,Sandmoen,Hjort,Ukjent,Kalv/årsunge,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,578370.0,0.011171,0.01117073@578370,POINT Z (311387.19 7165789.753 16.258),5973.0,5049.0,0.943,273.0,80.0,6688.416
4,27.01.2026,2026,5049 Flatanger,Sandmo&#x2019;n,Hjort,Hunn,Voksent dyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,578370.0,0.036441,0.03644095@578370,POINT Z (311293.281 7165926.186 19.808),5973.0,5049.0,4.747,273.0,80.0,6688.416

In [58]:
df=df[df['År']==2025]
df = df[df['Art'].isin(['Elg', 'Hjort', 'Rådyr'])]

In [60]:
df["vegstrekning_kort"] = (
    df["vegsystemreferanse.kortform"]
    .str.split()
    .str[:2]
    .str.join("_")
)

In [61]:
df=df.dropna()

In [62]:
df=df[['vegstrekning_kort','veglenkesekvensid', 'Art', "ÅDT, total"]]

In [64]:
df.sort_values('veglenkesekvensid', ascending=False)

     vegstrekning_kort  veglenkesekvensid    Art  ÅDT, total
1363         EV6_S77D1          3956495.0    Elg     15500.0
1993         EV6_S77D1          3956495.0  Rådyr     15500.0
2691        FV718_S2D1          3885338.0  Rådyr       836.0
739         FV718_S2D1          3885337.0  Rådyr       836.0
1592        EV6_S101D1          3601514.0    Elg      1820.0
...                ...                ...    ...         ...
1671       FV6680_S1D1            41396.0  Rådyr      2870.0
402        FV6680_S1D1            41396.0  Rådyr      3100.0
1868       FV6682_S1D1            41373.0  Rådyr      2500.0
1271       FV6682_S1D1            41373.0  Rådyr     11600.0
2755       FV6682_S1D1            41373.0  Rådyr     11600.0

[2131 rows x 4 columns]

In [46]:
df=df[['vegstrekning_kort', 'veglenkesekvensid', 'Art', "ÅDT, total"]]
df=df.dropna()

In [49]:
df.sort_values('veglenkesekvensid', ascending=False)

     vegstrekning_kort  veglenkesekvensid    Art  ÅDT, total
1363         EV6_S77D1          3956495.0    Elg     15500.0
1993         EV6_S77D1          3956495.0  Rådyr     15500.0
2691        FV718_S2D1          3885338.0  Rådyr       836.0
739         FV718_S2D1          3885337.0  Rådyr       836.0
1592        EV6_S101D1          3601514.0    Elg      1820.0
...                ...                ...    ...         ...
1671       FV6680_S1D1            41396.0  Rådyr      2870.0
402        FV6680_S1D1            41396.0  Rådyr      3100.0
1868       FV6682_S1D1            41373.0  Rådyr      2500.0
1271       FV6682_S1D1            41373.0  Rådyr     11600.0
2755       FV6682_S1D1            41373.0  Rådyr     11600.0

[2131 rows x 4 columns]

In [51]:
df = (
    df
    .groupby(["veglenkesekvensid", "Art"])
    .agg(
        antall_kollisjoner=("Art", "size"),
        ÅDT_total=("ÅDT, total", "first"),
        Veglenkesekvenslengde = ("Veglenkesekvenslengde", "first")
    )
    .reset_index()
)

df["frekvens"] = (
    df["antall_kollisjoner"] / (df["ÅDT_total"]+df["Veglenkesekvenslengde"])
)

In [52]:
df

     veglenkesekvensid    Art  antall_kollisjoner  ÅDT_total  frekvens
0              41373.0  Rådyr                   3    11600.0  0.000259
1              41396.0  Rådyr                   3     3100.0  0.000968
2              41397.0  Rådyr                   1     1100.0  0.000909
3              41411.0  Rådyr                   2     4600.0  0.000435
4              41455.0  Rådyr                   1    12500.0  0.000080
..                 ...    ...                 ...        ...       ...
922          3601514.0    Elg                   1     1820.0  0.000549
923          3885337.0  Rådyr                   1      836.0  0.001196
924          3885338.0  Rådyr                   1      836.0  0.001196
925          3956495.0    Elg                   1    15500.0  0.000065
926          3956495.0  Rådyr                   1    15500.0  0.000065

[927 rows x 5 columns]

In [54]:
df.sort_values('frekvens', ascending=False)

     veglenkesekvensid    Art  antall_kollisjoner  ÅDT_total  frekvens
276            72525.0  Hjort                   7      100.0  0.070000
465           555693.0  Rådyr                   1       20.0  0.050000
460           554967.0    Elg                   1       20.0  0.050000
41             44001.0  Rådyr                   1       20.0  0.050000
793           578723.0  Rådyr                   8      175.0  0.045714
..                 ...    ...                 ...        ...       ...
926          3956495.0  Rådyr                   1    15500.0  0.000065
849          2265197.0    Elg                   1    16500.0  0.000061
70             72155.0    Elg                   1    19000.0  0.000053
356            72812.0  Rådyr                   1    22000.0  0.000045
12             41926.0  Rådyr                   1    22600.0  0.000044

[927 rows x 5 columns]

In [ ]:
df

In [ ]:
df_endelig.head(50)