In [34]:
import pandas as pd

In [35]:
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_vegobjekter.csv", sep=";", low_memory=False)
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_veglenkesekvenslengde.csv",sep=";", low_memory=False)
df = pd.read_csv("Fallvilt_trdlag_2016-2026_adttotallengder.csv",sep=";", low_memory=False)

In [36]:
df.columns

Index(['Dato', 'År', 'Kommune', 'Stedfesting', 'Art', 'Kjønn', 'Alder',
       'Årsak', 'Utfall', 'Merkelappnummer', 'Fallvilt-ID', 'UTM33 øst',
       'UTM33 nord', 'vegsystemreferanse.kortform', 'vegkategori', 'fase',
       'vegnr', 'strekning', 'delstrekning', 'arm', 'adskilte_løp',
       'trafikantgruppe', 'retning', 'meter', 'veglenkesekvensid',
       'relativPosisjon', 'veglenkesekvens.kortform', 'geometri.wkt',
       'geometri.srid', 'kommune (treff)', 'avstand_vegnettet_m',
       'Vegobjekt_540_id', 'ÅDT, total', 'Vegobjekt_105_id', 'Fartsgrense',
       'Vegobjekt_540_lengde'],
      dtype='object')

In [37]:
df.head(5)

,Dato,År,Kommune,Stedfesting,Art,Kjønn,Alder,Årsak,Utfall,Merkelappnummer,...,veglenkesekvens.kortform,geometri.wkt,geometri.srid,kommune (treff),avstand_vegnettet_m,Vegobjekt_540_id,"ÅDT, total",Vegobjekt_105_id,Fartsgrense,Vegobjekt_540_lengde
0,27.01.2026,2026,5037 Levanger,"Laberget, skogn",Rådyr,Hunn,Kalv/årsunge,Påkjørt av motorkjøretøy,Dødt på stedet,,...,0.83128778@578274,POINT Z (309581.64 7069731.848 3.96),5973.0,5037.0,4.534,1.024046e+09,1100.0,86973882.0,80.0,5812.133
1,27.01.2026,2026,5057 Ørland,"Kottengsvatnet, Bjugn",Hjort,Ukjent,Ungdyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.45389004@72389,POINT Z (240694.793 7082920.732 35.115),5973.0,5057.0,8.335,1.024046e+09,1440.0,85311522.0,80.0,5634.106
2,27.01.2026,2026,5053 Inderøy,Brasethåmmeren.,Rådyr,Ukjent,Ukjent,Påkjørt av motorkjøretøy,Ettersøk avsluttet - ikke funnet,,...,0.13887967@578652,POINT Z (306524.134 7084925.6 18.701),5973.0,5053.0,3.375,1.024046e+09,550.0,86973645.0,80.0,3892.233
3,27.01.2026,2026,5049 Flatanger,Sandmoen,Hjort,Ukjent,Kalv/årsunge,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.01117073@578370,POINT Z (311387.19 7165789.753 16.258),5973.0,5049.0,0.943,1.024046e+09,273.0,86973722.0,80.0,24711.850
4,27.01.2026,2026,5049 Flatanger,Sandmo&#x2019;n,Hjort,Hunn,Voksent dyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.03644095@578370,POINT Z (311293.281 7165926.186 19.808),5973.0,5049.0,4.747,1.024046e+09,273.0,86973722.0,80.0,24711.850

In [38]:
df['Dato'].count()

23795

In [39]:
df=df[df['År']==2025]
df=df[df['Art'].isin(['Elg', 'Hjort', 'Rådyr'])]  
df=df[df['vegkategori'].isin(['E','F','K'])]

In [40]:
df=df[df['ÅDT, total']>100]

In [41]:
df['Dato'].count()

2058

In [42]:
df["vegstrekning_kort"] = (
    df["vegsystemreferanse.kortform"]
    .str.split()
    .str[:2]
    .str.join("_")
)

In [43]:
df=df.dropna()

In [44]:
df=df[['Vegobjekt_540_id', 'Art', "ÅDT, total", "Vegobjekt_540_lengde"]]

In [45]:
df.sort_values('Vegobjekt_540_id', ascending=False)

      Vegobjekt_540_id    Art  ÅDT, total  Vegobjekt_540_lengde
1056      1.024538e+09  Hjort       450.0              4299.128
906       1.024538e+09  Rådyr      2000.0              4155.208
948       1.024538e+09  Rådyr      2000.0              4155.208
1347      1.024538e+09  Rådyr      2000.0              4155.208
919       1.024538e+09  Hjort      4000.0              3307.629
...                ...    ...         ...                   ...
2290      1.013838e+09  Rådyr       600.0               290.000
2363      1.013838e+09  Rådyr       600.0               809.865
785       1.013124e+09  Hjort       150.0                48.742
2653      1.013124e+09  Rådyr       150.0              1203.528
2441      1.013121e+09  Rådyr       500.0               197.037

[2053 rows x 4 columns]

In [46]:
df["antall_kollisjoner"] = (
    df
    .groupby(["Vegobjekt_540_id", "Art"])
    .transform("size")
)

In [47]:
df=df[df["antall_kollisjoner"] >=3]

In [48]:
df["frekvens"] = (
    df["antall_kollisjoner"] / (365*round(df["ÅDT, total"],0)+round(df["Vegobjekt_540_lengde"],0))
)
##kollisjon per meter-bil-år

In [49]:
df=df.sort_values('frekvens', ascending=False)

In [50]:
df=df.drop_duplicates()

In [51]:
df

,Vegobjekt_540_id,Art,"ÅDT, total",Vegobjekt_540_lengde,antall_kollisjoner,frekvens
2628,1.024046e+09,Rådyr,697.0,28148.139,36,1.274097e-04
2423,1.024046e+09,Rådyr,349.0,14238.165,17,1.200370e-04
2023,1.024046e+09,Rådyr,400.0,10604.262,14,8.939746e-05
774,1.024047e+09,Rådyr,175.0,5832.378,6,8.607457e-05
2727,1.024046e+09,Rådyr,120.0,34257.803,6,7.686592e-05
...,...,...,...,...,...,...
601,1.022805e+09,Rådyr,11000.0,5601.431,3,7.461571e-07
1051,1.022805e+09,Rådyr,11500.0,1837.799,3,7.143983e-07
868,1.022805e+09,Rådyr,11800.0,1735.755,3,6.962599e-07
960,1.022806e+09,Rådyr,16500.0,946.617,3,4.980537e-07
2075,1.022806e+09,Rådyr,55000.0,631.297,4,1.992465e-07

In [52]:
df.to_csv("frekvens.csv",encoding='utf-8', index=False)