In [13]:
import pandas as pd

In [37]:
df = pd.read_csv("Fallvilt_trdlag_2016-2026_vegobjekter.csv", sep=";", low_memory=False)

In [38]:
df.columns

Index(['Dato', 'År', 'Kommune', 'Stedfesting', 'Art', 'Kjønn', 'Alder',
       'Årsak', 'Utfall', 'Merkelappnummer', 'Fallvilt-ID', 'UTM33 øst',
       'UTM33 nord', 'vegsystemreferanse.kortform', 'vegkategori', 'fase',
       'vegnr', 'strekning', 'delstrekning', 'arm', 'adskilte_løp',
       'trafikantgruppe', 'retning', 'meter', 'veglenkesekvensid',
       'relativPosisjon', 'veglenkesekvens.kortform', 'geometri.wkt',
       'geometri.srid', 'kommune (treff)', 'avstand_vegnettet_m', 'ÅDT, total',
       'Fartsgrense'],
      dtype='object')

In [39]:
df.head(5)

,Dato,År,Kommune,Stedfesting,Art,Kjønn,Alder,Årsak,Utfall,Merkelappnummer,...,meter,veglenkesekvensid,relativPosisjon,veglenkesekvens.kortform,geometri.wkt,geometri.srid,kommune (treff),avstand_vegnettet_m,"ÅDT, total",Fartsgrense
0,27.01.2026,2026,5037 Levanger,"Laberget, skogn",Rådyr,Hunn,Kalv/årsunge,Påkjørt av motorkjøretøy,Dødt på stedet,,...,6468.896,578274.0,0.831288,0.83128778@578274,POINT Z (309581.64 7069731.848 3.96),5973.0,5037.0,4.534,1100.0,80.0
1,27.01.2026,2026,5057 Ørland,"Kottengsvatnet, Bjugn",Hjort,Ukjent,Ungdyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,4373.102,72389.0,0.453890,0.45389004@72389,POINT Z (240694.793 7082920.732 35.115),5973.0,5057.0,8.335,1440.0,80.0
2,27.01.2026,2026,5053 Inderøy,Brasethåmmeren.,Rådyr,Ukjent,Ukjent,Påkjørt av motorkjøretøy,Ettersøk avsluttet - ikke funnet,,...,588.785,578652.0,0.138880,0.13887967@578652,POINT Z (306524.134 7084925.6 18.701),5973.0,5053.0,3.375,550.0,80.0
3,27.01.2026,2026,5049 Flatanger,Sandmoen,Hjort,Ukjent,Kalv/årsunge,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,2050.748,578370.0,0.011171,0.01117073@578370,POINT Z (311387.19 7165789.753 16.258),5973.0,5049.0,0.943,273.0,80.0
4,27.01.2026,2026,5049 Flatanger,Sandmo&#x2019;n,Hjort,Hunn,Voksent dyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,2219.831,578370.0,0.036441,0.03644095@578370,POINT Z (311293.281 7165926.186 19.808),5973.0,5049.0,4.747,273.0,80.0

In [40]:
df=df[df['År']==2025]
df = df[df['Art'].isin(['Elg', 'Hjort', 'Rådyr'])]

In [41]:
df[['veglenkesekvensid']]

      veglenkesekvensid
241             72703.0
242             72805.0
243            578188.0
244            578232.0
245             44881.0
...                 ...
2941            72857.0
2942            72826.0
2943           578227.0
2944          2390300.0
2945           578638.0

[2414 rows x 1 columns]

In [42]:
df["vegstrekning_kort"] = (
    df["vegsystemreferanse.kortform"]
    .str.split()
    .str[:2]
    .str.join("_")
)

In [43]:
df=df.dropna()

In [44]:
df=df[['vegstrekning_kort','veglenkesekvensid', 'Art', "ÅDT, total"]]

In [45]:
df.sort_values('vegstrekning_kort', ascending=False)

     vegstrekning_kort  veglenkesekvensid    Art  ÅDT, total
1461         RV70_S3D1            72829.0  Rådyr      2800.0
2212         RV70_S3D1            72285.0  Rådyr      2800.0
2570         RV70_S2D1            72285.0  Rådyr      2800.0
2566         RV70_S2D1            72285.0  Rådyr      2800.0
2116         RV70_S2D1            72828.0  Rådyr      2800.0
...                ...                ...    ...         ...
1661         EV14_S2D1          1858980.0    Elg      7070.0
1133         EV14_S1D1           578621.0  Rådyr      7070.0
1819         EV14_S1D1          2265197.0    Elg     16500.0
2107       EA6_S1083D1          3100974.0  Rådyr      8400.0
2106       EA6_S1083D1          3100974.0  Rådyr      8400.0

[2131 rows x 4 columns]

In [46]:
df=df[['vegstrekning_kort', 'veglenkesekvensid', 'Art', "ÅDT, total"]]
df=df.dropna()

In [49]:
df.sort_values('veglenkesekvensid', ascending=False)

     vegstrekning_kort  veglenkesekvensid    Art  ÅDT, total
1363         EV6_S77D1          3956495.0    Elg     15500.0
1993         EV6_S77D1          3956495.0  Rådyr     15500.0
2691        FV718_S2D1          3885338.0  Rådyr       836.0
739         FV718_S2D1          3885337.0  Rådyr       836.0
1592        EV6_S101D1          3601514.0    Elg      1820.0
...                ...                ...    ...         ...
1671       FV6680_S1D1            41396.0  Rådyr      2870.0
402        FV6680_S1D1            41396.0  Rådyr      3100.0
1868       FV6682_S1D1            41373.0  Rådyr      2500.0
1271       FV6682_S1D1            41373.0  Rådyr     11600.0
2755       FV6682_S1D1            41373.0  Rådyr     11600.0

[2131 rows x 4 columns]

In [50]:
df = (
    df
    .groupby(["veglenkesekvensid", "Art"])
    .agg(
        antall_kollisjoner=("Art", "size"),
        ÅDT_total=("ÅDT, total"", "first")
    )
    .reset_index()
)

df["frekvens"] = (
    df["antall_kollisjoner"] / df["ÅDT_total"]
)

SyntaxError: unterminated string literal (detected at line 6) (858223752.py, line 6)

In [32]:
df

    vegstrekning_kort    Art  antall_kollisjoner  ÅDT_total  frekvens
0         EA6_S1083D1  Rådyr                   1     8400.0  0.000119
1           EV14_S1D1    Elg                   1    16500.0  0.000061
2           EV14_S1D1  Rådyr                   1     7070.0  0.000141
3           EV14_S2D1    Elg                   1     5460.0  0.000183
4           EV14_S2D1  Rådyr                   1     7070.0  0.000141
..                ...    ...                 ...        ...       ...
797         RV3_S29D1  Rådyr                   1     2630.0  0.000380
798        RV706_S1D1  Rådyr                   1    13500.0  0.000074
799         RV70_S1D1  Rådyr                   1     3400.0  0.000294
800         RV70_S2D1  Rådyr                   1     2800.0  0.000357
801         RV70_S3D1  Rådyr                   1     2800.0  0.000357

[802 rows x 5 columns]

In [35]:
df.sort_values('frekvens', ascending=False)

    vegstrekning_kort    Art  antall_kollisjoner  ÅDT_total  frekvens
756      KV25005_S1D1    Elg                   1       20.0  0.050000
787       KV7083_S3D1  Rådyr                   1       20.0  0.050000
741       KV1100_S1D1  Rådyr                   1       20.0  0.050000
755         KV24_S1D1  Rådyr                   1       25.0  0.040000
745       KV1300_S1D1  Rådyr                   1       30.0  0.033333
..                ...    ...                 ...        ...       ...
26          EV39_S1D1  Rådyr                   1    15100.0  0.000066
75          EV6_S77D1    Elg                   1    15500.0  0.000065
76          EV6_S77D1  Rådyr                   1    15500.0  0.000065
1           EV14_S1D1    Elg                   1    16500.0  0.000061
337       FV6690_S3D1  Rådyr                   1    22000.0  0.000045

[802 rows x 5 columns]

In [ ]:
df

In [ ]:
df_endelig.head(50)