In [137]:
import pandas as pd

In [151]:
df = pd.read_csv("Fallvilt_trdlag_2016-2026_vegobjekter.csv", sep=";", low_memory=False)

In [152]:
df.columns

Index(['Dato', 'År', 'Kommune', 'Stedfesting', 'Art', 'Kjønn', 'Alder',
       'Årsak', 'Utfall', 'Merkelappnummer', 'Fallvilt-ID', 'UTM33 øst',
       'UTM33 nord', 'vegsystemreferanse.kortform', 'vegkategori', 'fase',
       'vegnr', 'strekning', 'delstrekning', 'arm', 'adskilte_løp',
       'trafikantgruppe', 'retning', 'meter', 'veglenkesekvensid',
       'relativPosisjon', 'veglenkesekvens.kortform', 'geometri.wkt',
       'geometri.srid', 'kommune (treff)', 'avstand_vegnettet_m', 'ÅDT, total',
       'Fartsgrense'],
      dtype='object')

In [153]:
df.head(5)

,Dato,År,Kommune,Stedfesting,Art,Kjønn,Alder,Årsak,Utfall,Merkelappnummer,...,meter,veglenkesekvensid,relativPosisjon,veglenkesekvens.kortform,geometri.wkt,geometri.srid,kommune (treff),avstand_vegnettet_m,"ÅDT, total",Fartsgrense
0,27.01.2026,2026,5037 Levanger,"Laberget, skogn",Rådyr,Hunn,Kalv/årsunge,Påkjørt av motorkjøretøy,Dødt på stedet,,...,6468.896,578274.0,0.831288,0.83128778@578274,POINT Z (309581.64 7069731.848 3.96),5973.0,5037.0,4.534,1100.0,80.0
1,27.01.2026,2026,5057 Ørland,"Kottengsvatnet, Bjugn",Hjort,Ukjent,Ungdyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,4373.102,72389.0,0.453890,0.45389004@72389,POINT Z (240694.793 7082920.732 35.115),5973.0,5057.0,8.335,1440.0,80.0
2,27.01.2026,2026,5053 Inderøy,Brasethåmmeren.,Rådyr,Ukjent,Ukjent,Påkjørt av motorkjøretøy,Ettersøk avsluttet - ikke funnet,,...,588.785,578652.0,0.138880,0.13887967@578652,POINT Z (306524.134 7084925.6 18.701),5973.0,5053.0,3.375,550.0,80.0
3,27.01.2026,2026,5049 Flatanger,Sandmoen,Hjort,Ukjent,Kalv/årsunge,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,2050.748,578370.0,0.011171,0.01117073@578370,POINT Z (311387.19 7165789.753 16.258),5973.0,5049.0,0.943,273.0,80.0
4,27.01.2026,2026,5049 Flatanger,Sandmo&#x2019;n,Hjort,Hunn,Voksent dyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,2219.831,578370.0,0.036441,0.03644095@578370,POINT Z (311293.281 7165926.186 19.808),5973.0,5049.0,4.747,273.0,80.0

In [154]:
df=df[df['År']==2025]
df = df[df['Art'].isin(['Elg', 'Hjort', 'Rådyr'])]

In [155]:
df[['vegsystemreferanse.kortform']]

     vegsystemreferanse.kortform
241            FV6722 S1D1 m1357
242              EV6 S65D1 m5995
243             FV766 S1D1 m2085
244              FV776 S6D1 m272
245             KV401 S1D1 m1369
...                          ...
2941             FV715 S9D1 m501
2942             FV65 S3D1 m4932
2943            FV775 S2D1 m4034
2944            FV715 S5D1 m7104
2945              FV72 S3D1 m872

[2414 rows x 1 columns]

In [142]:
df["vegstrekning_kort"] = (
    df["vegsystemreferanse.kortform"]
    .str.split()
    .str[:2]
    .str.join("_")
)

In [146]:
df=df.dropna()

In [147]:
df=df[['vegstrekning_kort', "ÅDT, total"]]

In [148]:
df.sort_values('vegstrekning_kort', ascending=False)

     vegstrekning_kort  ÅDT, total
1461         RV70_S3D1      2800.0
2212         RV70_S3D1      2800.0
2570         RV70_S2D1      2800.0
2622         RV70_S2D1      2800.0
2566         RV70_S2D1      2800.0
...                ...         ...
733          EV14_S2D1      7070.0
1133         EV14_S1D1      7070.0
1819         EV14_S1D1     16500.0
2107       EA6_S1083D1      8400.0
2106       EA6_S1083D1      8400.0

[2136 rows x 2 columns]

In [125]:
df=df[['vegstrekning_kort', 'Art', "ÅDT, total"]]
df=df.dropna()

In [126]:
df.sort_values('vegstrekning_kort', ascending=False)

     vegstrekning_kort    Art  ÅDT, total
1461         RV70_S3D1  Rådyr      2800.0
2212         RV70_S3D1  Rådyr      2800.0
2570         RV70_S2D1  Rådyr      2800.0
2622         RV70_S2D1  Rådyr      2800.0
2566         RV70_S2D1  Rådyr      2800.0
...                ...    ...         ...
733          EV14_S2D1  Rådyr      7070.0
1133         EV14_S1D1  Rådyr      7070.0
1819         EV14_S1D1    Elg     16500.0
2107       EA6_S1083D1  Rådyr      8400.0
2106       EA6_S1083D1  Rådyr      8400.0

[2136 rows x 3 columns]

In [127]:
df = (
    df
    .groupby(["vegstrekning_kort", "Art"])
    .agg(
        antall_kollisjoner=("Art", "size"),
        ÅDT_total=("ÅDT, total", "first")
    )
    .reset_index()
)

df["frekvens"] = (
    df_resultat["antall_kollisjoner"] / df_resultat["ÅDT_total"]
)

In [128]:
df

    vegstrekning_kort    Art  antall_kollisjoner  ÅDT_total  frekvens
0         EA6_S1083D1  Rådyr                   2     8400.0  0.000200
1           EV14_S1D1    Elg                   1    16500.0  0.000111
2           EV14_S1D1  Rådyr                   1     7070.0  0.000238
3           EV14_S2D1    Elg                   2     5460.0  0.000119
4           EV14_S2D1  Rådyr                  13     7070.0  0.000476
..                ...    ...                 ...        ...       ...
802         RV3_S29D1  Rådyr                   1     2630.0  0.008571
803        RV706_S1D1  Rådyr                   2    13500.0  0.005714
804         RV70_S1D1  Rådyr                   1     3400.0  0.009091
805         RV70_S2D1  Rådyr                   4     2800.0  0.009091
806         RV70_S3D1  Rådyr                   2     2800.0  0.005714

[807 rows x 5 columns]

In [129]:
#df=df[df['vegstrekning_kort']=="FV6456_S1D1"]

In [130]:
df

    vegstrekning_kort    Art  antall_kollisjoner  ÅDT_total  frekvens
0         EA6_S1083D1  Rådyr                   2     8400.0  0.000200
1           EV14_S1D1    Elg                   1    16500.0  0.000111
2           EV14_S1D1  Rådyr                   1     7070.0  0.000238
3           EV14_S2D1    Elg                   2     5460.0  0.000119
4           EV14_S2D1  Rådyr                  13     7070.0  0.000476
..                ...    ...                 ...        ...       ...
802         RV3_S29D1  Rådyr                   1     2630.0  0.008571
803        RV706_S1D1  Rådyr                   2    13500.0  0.005714
804         RV70_S1D1  Rådyr                   1     3400.0  0.009091
805         RV70_S2D1  Rådyr                   4     2800.0  0.009091
806         RV70_S3D1  Rådyr                   2     2800.0  0.005714

[807 rows x 5 columns]

In [131]:
adt_varians = (
    df
    .groupby("vegstrekning_kort")["ÅDT_total"]
    .nunique()
    .reset_index(name="antall_ulike_ÅDT")
)

In [135]:
adt_varians[adt_varians["antall_ulike_ÅDT"] >1].count()

vegstrekning_kort    60
antall_ulike_ÅDT     60
dtype: int64

In [133]:
df = (
    df[["vegsystem_kort", "kollisjon_count", "frekvens", "Art"]]
    .drop_duplicates()
    .reset_index(drop=True)
)

KeyError: "['vegsystem_kort', 'kollisjon_count'] not in index"

In [ ]:
df

In [ ]:
df_endelig = (
    df
    .sort_values("frekvens", ascending=False)
    .reset_index(drop=True)
)

In [ ]:
df_endelig.head(50)