In [498]:
import pandas as pd

In [499]:
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_vegobjekter.csv", sep=";", low_memory=False)
#df = pd.read_csv("Fallvilt_trdlag_2016-2026_veglenkesekvenslengde.csv",sep=";", low_memory=False)
df = pd.read_csv("Fallvilt_trdlag_2016-2026_adttotallengder.csv",sep=";", low_memory=False)

In [500]:
df.columns

Index(['Dato', 'År', 'Kommune', 'Stedfesting', 'Art', 'Kjønn', 'Alder',
       'Årsak', 'Utfall', 'Merkelappnummer', 'Fallvilt-ID', 'UTM33 øst',
       'UTM33 nord', 'vegsystemreferanse.kortform', 'vegkategori', 'fase',
       'vegnr', 'strekning', 'delstrekning', 'arm', 'adskilte_løp',
       'trafikantgruppe', 'retning', 'meter', 'veglenkesekvensid',
       'relativPosisjon', 'veglenkesekvens.kortform', 'geometri.wkt',
       'geometri.srid', 'kommune (treff)', 'avstand_vegnettet_m',
       'Vegobjekt_540_id', 'ÅDT, total', 'Vegobjekt_105_id', 'Fartsgrense',
       'Vegobjekt_540_lengde'],
      dtype='object')

In [501]:
df.head(5)

,Dato,År,Kommune,Stedfesting,Art,Kjønn,Alder,Årsak,Utfall,Merkelappnummer,...,veglenkesekvens.kortform,geometri.wkt,geometri.srid,kommune (treff),avstand_vegnettet_m,Vegobjekt_540_id,"ÅDT, total",Vegobjekt_105_id,Fartsgrense,Vegobjekt_540_lengde
0,27.01.2026,2026,5037 Levanger,"Laberget, skogn",Rådyr,Hunn,Kalv/årsunge,Påkjørt av motorkjøretøy,Dødt på stedet,,...,0.83128778@578274,POINT Z (309581.64 7069731.848 3.96),5973.0,5037.0,4.534,1.024046e+09,1100.0,86973882.0,80.0,5812.133
1,27.01.2026,2026,5057 Ørland,"Kottengsvatnet, Bjugn",Hjort,Ukjent,Ungdyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.45389004@72389,POINT Z (240694.793 7082920.732 35.115),5973.0,5057.0,8.335,1.024046e+09,1440.0,85311522.0,80.0,5634.106
2,27.01.2026,2026,5053 Inderøy,Brasethåmmeren.,Rådyr,Ukjent,Ukjent,Påkjørt av motorkjøretøy,Ettersøk avsluttet - ikke funnet,,...,0.13887967@578652,POINT Z (306524.134 7084925.6 18.701),5973.0,5053.0,3.375,1.024046e+09,550.0,86973645.0,80.0,3892.233
3,27.01.2026,2026,5049 Flatanger,Sandmoen,Hjort,Ukjent,Kalv/årsunge,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.01117073@578370,POINT Z (311387.19 7165789.753 16.258),5973.0,5049.0,0.943,1.024046e+09,273.0,86973722.0,80.0,24711.850
4,27.01.2026,2026,5049 Flatanger,Sandmo&#x2019;n,Hjort,Hunn,Voksent dyr,Påkjørt av motorkjøretøy,Observert – antatt uskadd,,...,0.03644095@578370,POINT Z (311293.281 7165926.186 19.808),5973.0,5049.0,4.747,1.024046e+09,273.0,86973722.0,80.0,24711.850

In [502]:
df['Dato'].count()

23795

In [503]:
df=df[df['År']==2025].copy()
df=df[df['Art'].isin(['Elg', 'Hjort', 'Rådyr'])].copy()  
df=df[df['vegkategori'].isin(['E','F','K'])].copy()

In [504]:
df=df[df['ÅDT, total']>100]

In [505]:
df['Dato'].count()

2058

In [506]:
df=df.dropna()

In [507]:
df["UTM33_øst_int"] = (
    df["UTM33 øst"]
    .astype(str)
    .str.split(",", n=1)
    .str[0].astype(int)
)

In [508]:
df["UTM_nord_int"] = (
    df["UTM33 nord"]
    .astype(str)
    .str.split(",", n=1)
    .str[0].astype(int)
)

In [509]:
df=df[['Vegobjekt_540_id', 'Art','ÅDT, total','Vegobjekt_540_lengde', 'UTM_nord_int', 'UTM33_øst_int']]

In [510]:
df

,Vegobjekt_540_id,Art,"ÅDT, total",Vegobjekt_540_lengde,UTM_nord_int,UTM33_øst_int
241,1.024047e+09,Rådyr,640.0,3192.223,7016638,300197
242,1.022806e+09,Elg,5630.0,9450.411,6972759,246285
243,1.024047e+09,Rådyr,700.0,17818.619,7138568,317221
246,1.024047e+09,Rådyr,300.0,3913.985,7072999,190638
247,1.024046e+09,Rådyr,697.0,28148.139,7057884,269401
...,...,...,...,...,...,...
2941,1.024046e+09,Elg,1700.0,3122.634,7081716,264777
2942,1.024046e+09,Elg,1740.0,9706.196,7014131,230721
2943,1.024047e+09,Elg,800.0,12995.376,7168113,373630
2944,1.024046e+09,Elg,1600.0,11320.552,7060942,262899
2945,1.024045e+09,Elg,1210.0,2278.729,7072630,338955

In [511]:
kolonner = [
    "ÅDT, total",
    "Vegobjekt_540_lengde",
    "UTM_nord_int",
    "UTM33_øst_int",
]

for col in kolonner:
    df[f"{col}_avg"] = (
        df
        .groupby(["Vegobjekt_540_id", "Art"])[col]
        .transform("mean")
        .round(0)
        .astype("Int64")
    )

In [512]:
df

,Vegobjekt_540_id,Art,"ÅDT, total",Vegobjekt_540_lengde,UTM_nord_int,UTM33_øst_int,"ÅDT, total_avg",Vegobjekt_540_lengde_avg,UTM_nord_int_avg,UTM33_øst_int_avg
241,1.024047e+09,Rådyr,640.0,3192.223,7016638,300197,640,3192,7016637,300188
242,1.022806e+09,Elg,5630.0,9450.411,6972759,246285,5630,9450,6972759,246285
243,1.024047e+09,Rådyr,700.0,17818.619,7138568,317221,700,17819,7145935,316086
246,1.024047e+09,Rådyr,300.0,3913.985,7072999,190638,300,3914,7072997,190632
247,1.024046e+09,Rådyr,697.0,28148.139,7057884,269401,697,28148,7060297,274322
...,...,...,...,...,...,...,...,...,...,...
2941,1.024046e+09,Elg,1700.0,3122.634,7081716,264777,1700,3123,7081810,264900
2942,1.024046e+09,Elg,1740.0,9706.196,7014131,230721,1740,9706,7014528,233135
2943,1.024047e+09,Elg,800.0,12995.376,7168113,373630,800,12995,7167746,373776
2944,1.024046e+09,Elg,1600.0,11320.552,7060942,262899,1600,11321,7061432,262971
2945,1.024045e+09,Elg,1210.0,2278.729,7072630,338955,1210,2279,7072630,338955

In [513]:
df["antall_kollisjoner"] = (
    df
    .groupby(["Vegobjekt_540_id", "Art"])
    .transform("size")
)

In [514]:
df

,Vegobjekt_540_id,Art,"ÅDT, total",Vegobjekt_540_lengde,UTM_nord_int,UTM33_øst_int,"ÅDT, total_avg",Vegobjekt_540_lengde_avg,UTM_nord_int_avg,UTM33_øst_int_avg,antall_kollisjoner
241,1.024047e+09,Rådyr,640.0,3192.223,7016638,300197,640,3192,7016637,300188,2
242,1.022806e+09,Elg,5630.0,9450.411,6972759,246285,5630,9450,6972759,246285,1
243,1.024047e+09,Rådyr,700.0,17818.619,7138568,317221,700,17819,7145935,316086,5
246,1.024047e+09,Rådyr,300.0,3913.985,7072999,190638,300,3914,7072997,190632,2
247,1.024046e+09,Rådyr,697.0,28148.139,7057884,269401,697,28148,7060297,274322,36
...,...,...,...,...,...,...,...,...,...,...,...
2941,1.024046e+09,Elg,1700.0,3122.634,7081716,264777,1700,3123,7081810,264900,2
2942,1.024046e+09,Elg,1740.0,9706.196,7014131,230721,1740,9706,7014528,233135,3
2943,1.024047e+09,Elg,800.0,12995.376,7168113,373630,800,12995,7167746,373776,2
2944,1.024046e+09,Elg,1600.0,11320.552,7060942,262899,1600,11321,7061432,262971,6
2945,1.024045e+09,Elg,1210.0,2278.729,7072630,338955,1210,2279,7072630,338955,1

In [515]:
df=df[df["antall_kollisjoner"] >=3].copy()

In [516]:
df["frekvens"] = (
    df["antall_kollisjoner"]*100000
    /
    (
        df["ÅDT, total_avg"]
        * 365
        * df["Vegobjekt_540_lengde_avg"]
    )
)

In [517]:
df["årsrisiko"] = df["frekvens"]*150

In [518]:
df=df[['Vegobjekt_540_id', 
       'Art', 
       'ÅDT, total_avg',
       'Vegobjekt_540_lengde_avg', 
       'UTM_nord_int_avg', 
       'UTM33_øst_int_avg', 
       'antall_kollisjoner', 
       'frekvens', 'årsrisiko']].copy()

In [519]:
df=df.drop_duplicates()

In [520]:
df.count()

Vegobjekt_540_id            238
Art                         238
ÅDT, total_avg              238
Vegobjekt_540_lengde_avg    238
UTM_nord_int_avg            238
UTM33_øst_int_avg           238
antall_kollisjoner          238
frekvens                    238
årsrisiko                   238
dtype: int64

In [521]:
df.sort_values('frekvens', ascending=False)

,Vegobjekt_540_id,Art,"ÅDT, total_avg",Vegobjekt_540_lengde_avg,UTM_nord_int_avg,UTM33_øst_int_avg,antall_kollisjoner,frekvens,årsrisiko
774,1.024047e+09,Rådyr,175,5832,7206320,308830,6,0.001611,0.241598
503,1.024046e+09,Rådyr,349,14238,7157803,298265,17,0.000937,0.140596
429,1.024046e+09,Rådyr,500,2354,7062042,293215,4,0.000931,0.139663
855,1.024047e+09,Rådyr,280,5291,7096717,329904,5,0.000925,0.138699
833,1.024046e+09,Rådyr,400,10604,7070511,202509,14,0.000904,0.135643
...,...,...,...,...,...,...,...,...,...
283,1.022806e+09,Rådyr,8400,5216,7063637,306221,3,0.000019,0.002814
1311,1.022806e+09,Rådyr,11000,4249,7084083,323913,3,0.000018,0.002638
698,1.022805e+09,Rådyr,9660,5211,7008803,260602,3,0.000016,0.002449
601,1.022805e+09,Rådyr,11000,5601,7013545,263883,3,0.000013,0.002001
305,1.022806e+09,Elg,9600,7748,7056763,301897,3,0.000011,0.001658

In [522]:
df.to_csv("frekvens.csv",encoding='utf-8', index=False)

In [523]:
yrkesrisiko = pd.DataFrame({
    "yrkesgruppe": [
        "Ledere",
        "Høyskoleyrker",
        "Kontoryrker",
        "Salgs- og serviceyrker",
        "Renholdere, hjelpearbeidere mv.",
        "Bønder, fiskere mv.",
        "Prosess- og maskinoperatører, transportarbeidere mv.",
        "Håndverkere",
    ],
    "ulykker_per_arsverk": [
        4.0 / 1000,
        6.5 / 1000,
        7.7 / 1000,
        13.9 / 1000,
        15.5 / 1000,
        19.2 / 1000,
        20.1 / 1000,
        20.5 / 1000,
    ],
    "intervall_lav": [
        3.0 / 1000,
        5.0 / 1000,
        7.0 / 1000,
        12.0 / 1000,
        14.5 / 1000,
        17.5 / 1000,
        19.6 / 1000,
        20.2 / 1000,
    ],
    "intervall_høg": [
        5.0 / 1000,
        7.0 /1000,
        12.0 / 1000,
        14.5 / 1000,
        17.5 / 1000,
        19.6 / 1000,
        20.2 / 1000,
        20.7 /1000
    ]
    
})

In [524]:
yrkesrisiko

,yrkesgruppe,ulykker_per_arsverk,intervall_lav,intervall_høg
0,Ledere,0.0040,0.0030,0.0050
1,Høyskoleyrker,0.0065,0.0050,0.0070
2,Kontoryrker,0.0077,0.0070,0.0120
3,Salgs- og serviceyrker,0.0139,0.0120,0.0145
4,"Renholdere, hjelpearbeidere mv.",0.0155,0.0145,0.0175
5,"Bønder, fiskere mv.",0.0192,0.0175,0.0196
6,"Prosess- og maskinoperatører, transportarbeide...",0.0201,0.0196,0.0202
7,Håndverkere,0.0205,0.0202,0.0207

In [532]:
def map_arsrisiko_til_yrke(arsrisiko, yrkesdf):
    """
    Mapper årsrisiko (per årsverk) til illustrativ yrkessammenlikning.

    Parametre
    ----------
    arsrisiko : float
        Risiko per årsverk (f.eks. 0.012 = 12 per 1000)
    yrkesdf : pandas.DataFrame
        Må innehalde kolonnane:
        - 'yrkesgruppe'
        - 'intervall_lav'
        - 'intervall_høg'

    Returnerer
    ----------
    str : tekst for illustrativ samanlikning
    """

    # Sorter for tryggleik (lav → høg risiko)
    yrkesdf = yrkesdf.sort_values("intervall_lav")

    # Lågare enn lågaste kjente yrke (Ledere)
    if arsrisiko < yrkesdf["intervall_lav"].min():
        return "Lavere enn kjente yrker"

    # Høgare enn høgaste kjente yrke (Håndverkere)
    if arsrisiko > yrkesdf["intervall_høg"].max():
        return "Høyere enn høyrisikoyrker"

    # Finn intervall som treff
    treff = yrkesdf[
        (yrkesdf["intervall_lav"] <= arsrisiko) &
        (yrkesdf["intervall_høg"] >= arsrisiko)
    ]

    if not treff.empty:
        # Dersom fleire treff (overlapp), vel nærmaste midtpunkt
        treff = treff.copy()
        treff["avstand"] = (treff["ulykker_per_arsverk"] - arsrisiko).abs()
        return treff.sort_values("avstand").iloc[0]["yrkesgruppe"]

    # Fallback (burde eigentleg ikkje skje)
    return "Ukjent risikonivå"

In [533]:
df["sammenlikning_yrke"] = df["årsrisiko"].apply(
    lambda x: map_arsrisiko_til_yrke(x, yrkesrisiko)
)

In [527]:
df.sort_values('frekvens', ascending=False)

,Vegobjekt_540_id,Art,"ÅDT, total_avg",Vegobjekt_540_lengde_avg,UTM_nord_int_avg,UTM33_øst_int_avg,antall_kollisjoner,frekvens,årsrisiko,sammenlikning_yrke
774,1.024047e+09,Rådyr,175,5832,7206320,308830,6,0.001611,0.241598,Høyere enn høyrisikoyrker
503,1.024046e+09,Rådyr,349,14238,7157803,298265,17,0.000937,0.140596,Høyere enn høyrisikoyrker
429,1.024046e+09,Rådyr,500,2354,7062042,293215,4,0.000931,0.139663,Høyere enn høyrisikoyrker
855,1.024047e+09,Rådyr,280,5291,7096717,329904,5,0.000925,0.138699,Høyere enn høyrisikoyrker
833,1.024046e+09,Rådyr,400,10604,7070511,202509,14,0.000904,0.135643,Høyere enn høyrisikoyrker
...,...,...,...,...,...,...,...,...,...,...
283,1.022806e+09,Rådyr,8400,5216,7063637,306221,3,0.000019,0.002814,Lavere enn kjente yrker
1311,1.022806e+09,Rådyr,11000,4249,7084083,323913,3,0.000018,0.002638,Lavere enn kjente yrker
698,1.022805e+09,Rådyr,9660,5211,7008803,260602,3,0.000016,0.002449,Lavere enn kjente yrker
601,1.022805e+09,Rådyr,11000,5601,7013545,263883,3,0.000013,0.002001,Lavere enn kjente yrker
305,1.022806e+09,Elg,9600,7748,7056763,301897,3,0.000011,0.001658,Lavere enn kjente yrker

In [528]:
df.to_csv("frekvens_m_yrke.csv",encoding='utf-8', index=False)